ul {
  list-style: none;
  margin: 1rem 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-height: 50vh;
  overflow: auto;
}

a {
text-decoration: none;
color: #c6a7ed;
}

a:hover {
  color: rgb(148, 88, 204);
}
